
.video-thumbnail{
 width:100%;
}

.video-title{
  margin-top:0;
  font-size:14px;
  font-weight:500;
  line-height:19px;
  margin-bottom:8px;
}

.video-info-grid{
  display:grid;
  grid-template-columns: 50px 1fr;
}
.profile-picture{
  border-radius:100%;
  width:36px;
}
.thumbnail-row{
  margin-bottom:8px;
  position: relative;
}
.video-stats{
  font-size:12px;
  color:grey;
  line-height:18px;
}
.video-grid{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  column-gap: 12px;
  row-gap:20px;
}
@media(max-width:800px){
.video-grid{
  grid-template-columns: 1fr 1fr;
}
}
@media(min-width:1200px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .video-title{
    font-size:16px;
  }
  .video-stats{
    font-size:14px;
  }
}
.video-time{
  background-color: black;
  color:white;
  position:absolute;
  bottom:8px;
  right:6px;
  font-family: roboto,arial;
  font-size:14px;
  font-weight: 500;
  padding-top:2px;
  padding-bottom: 2px;
  padding-left:3px;
  padding-right:3px;
  border-radius:2px;
}